body {
    display: flex;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
}
.center-of-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 3;
    border: 2px olive solid;
}
.block {
    background-color: #b9b9b9;
    border-bottom: 1px solid olive;
    border-top: 1px solid olive;
    padding: 5px;
}
.output-area {
    position: relative;
    height: 61vh;
    overflow-y: scroll;
    border-top: 1px solid olive;
    border-bottom: none;
}
.item-of-output {
    align-items: center;
    margin-top: 15px;
    width: 100%;
    height: auto;
    display: flex;
}
.left-side-of-item {
    width: 15%;
    display: flex;
    justify-content: center;
    height: 100%;
    font-size: 20px;
}
.center-of-item {
    width: 75%;
    display: flex;
    flex-direction: row;
    height: 100%;
    min-height: 50px;
    padding: 3px;
}
.right-side-of-item {
    width: 10%;
    display: flex;
    justify-content: center;
    height: 100%;
}

.left-side-of-item-mid {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    float: left;
    width: 100%;

}
.div-with-status-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.task-name-of-item {
    width: 100%;
    height: 100%;
    min-height: 50px;
    overflow-y: auto;
    max-height: 140px;
    font-family: sans-serif;
}
.date-watermark-of-item {
    height: 13px;
    width: 100%;
    font-size: 11px;
}
#search-task-name {
    width: 80%;
}
#input-task-name {
    margin-left: 10%;
    width: 50%;
}
.task-name-textarea {
    display:none;
    width: 98%;
    line-height: 1.5;
    resize: none;
    min-height: 40px;
    max-height: 140px;
    font-family: sans-serif;
    font-size: 18px;
}
.title {
    display: flex;
    justify-content: space-around;
}
h2 {
    background: linear-gradient(-45deg, #6b9b6d, #265423, #3a4822, #645eb2);
    background-size: 300%;
    font-family: Helvetica, sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 10s ease-in-out infinite;
    -moz-animation: animated_text 10s ease-in-out infinite;
    -webkit-animation: animated_text 10s ease-in-out infinite;
}
@keyframes animated_text {
    0% { background-position: 0 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0 50%; }
}
#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 8;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
}
.status-button {
    width: 45px;
}
.output-info {
    margin-left: 35%;
    margin-top: 10%;
}