body {
    display: flex;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    font-family: Verdana, sans-serif;
}
.page-center {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    z-index: 3;
    border: 2px olive solid;
}
.center-of-the-page__block {
    background-color: #b9b9b9;
    border-bottom: 1px solid olive;
    border-top: 1px solid olive;
    padding: 5px;
}
.output-area {
    position: relative;
    height: 61vh;
    overflow-y: scroll;
    border-top: 1px solid olive;
    border-bottom: none;
}
.output-area__item {
    align-items: center;
    margin-top: 15px;
    width: 100%;
    height: auto;
    display: flex;
}
.item__task-priority-block {
    width: 15%;
    display: flex;
    justify-content: center;
    height: 100%;
    font-size: 20px;
}
.item__main {
    width: 75%;
    display: flex;
    flex-direction: row;
    height: 100%;
    min-height: 50px;
    padding: 3px;
}
.item__delete-button-block {
    width: 10%;
    display: flex;
    justify-content: center;
    height: 100%;
}

.main__task-info-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    float: left;
    width: 100%;

}
.main__status-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.item__task-name-div {
    width: 100%;
    height: 100%;
    min-height: 50px;
    overflow-y: auto;
    max-height: 140px;
    font-family: sans-serif;
    font-size: 18px
}
.task__date-of-add {
    height: 13px;
    width: 100%;
    font-size: 11px;
}
.filters__search-task-input {
    width: 80%;
}
.input-block__input-task-name {
    margin-left: 10%;
    width: 60%;
    margin-right: 15px;
}
.item__task-name-textarea {
    display:none;
    width: 98%;
    line-height: 1.5;
    resize: none;
    min-height: 40px;
    max-height: 140px;
    font-family: sans-serif;
    font-size: 18px;
}
.title {
    display: flex;
    justify-content: space-around;
}
h2 {
    background: linear-gradient(-45deg, #6b9b6d, #265423, #3a4822, #645eb2);
    background-size: 300%;
    font-family: Helvetica, sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 10s ease-in-out infinite;
    -moz-animation: animated_text 10s ease-in-out infinite;
    -webkit-animation: animated_text 10s ease-in-out infinite;
}
@keyframes animated_text {
    0% { background-position: 0 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0 50%; }
}
.loading {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 8;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
}
.status-button {
    width: 45px;
}
.combobox {
    height: 21px;
}
.tooltip {
    position: absolute;
    z-index: 4;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 4px;
    padding: 3px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}
.input-block__text-for-task-input {
    margin-left: 9%;
}
.filters__text-for-status-filter {
    margin-left: 33px;
    margin-right: 10px;
}
.filters__text-for-sort-by-priority {
    margin-left: 5px;
    margin-right: 5px;
}
.filters__default-filter {
    margin-left: 15px;
}
.filters__checkboxes {
    display: inline-block;
}
.combobox-highlight {
    outline: 1px dotted red;
    border-radius: 2px;
    outline-offset: 1px;
}